<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    #c2{
        float:left;
        width:300px;
        height:300px
    }
</style>
<body>
<a href="/index">返回首页</a>
<form action="/Attribute" method="post">
    <input id="c1" type="text" name="data1" value="{{data1}}" placeholder="请输入属性网址">
    <p></p>
    <input name="data2" id="c2" placeholder="请输入属性数据">
    <p></p>
    <input type="submit" value="提交">
</form>
</body>
</html>